.modal_title:first-letter {
    text-transform: uppercase;
  }

  .btn_modal {
    color: rgb(1, 22, 77);
    margin-top: 20px;
    border: var(--border-thin-style);
  }

  .modal_box{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #176B79;
    border: none;
    padding: 20px;
  }