.oppening_container {
    position: relative;
    width: 70vw;
    height: fit-content;
    padding: 0;
}

.line_oppening {
    position: absolute;
    width: 2px;
    height: 100%;
    right: 10vw;
}

.image_croissant {
    position: relative;
    right: -5vw;
    height: 40vw;
    width: auto;
}

.containt {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_text {
    margin-top: calc(7vw + 1rem);
    margin-bottom: 3vw;
}

.left_text > div {
    margin-left: 4vw;
    margin-bottom: 12%;
}

.left_text > div > p {
    margin-top: -1rem;
    width: max-content;
    font-size: calc(0.3vw + 1em);
}

.left_text > div >h3::first-letter {
    font-size: calc(0.5vw + 2rem);
}

.left_text >div:nth-of-type(2) >p {
    padding: 9% 7% 2% 4%;
    margin-top: -1.9rem;
}

.left_text > div > h3 {
    margin-left: -0.7rem;
}

@media screen and (max-width: 992px) {
    .containt {
        width: 100%;
    }
    .image_croissant {
        display: none;
    }
}