.oppening_container {
    position: relative;
    width: 70vw;
    height: fit-content;
    padding: 0;
}

.line_oppening {
    position: absolute;
    width: 2px;
    height: 100%;
    right: 10vw;
}

.image_croissant {
    filter: brightness(0.85);
    position: relative;
    right: -3vw;
    height: 40vw;
    width: auto;
}

.containt {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_text {
       margin-top: 5vw;
       padding-top: 2vw;
       border-left: 10px solid;
}

.left_text > div {
    margin-left: 4vw;
    margin-bottom: 12%;
}

.left_text > div > p {
    color: #F5EEDC;
    width: max-content;
    font-size: calc(0.3vw + 1em);
    padding: 5%;
    margin-top: -1vh;
    position: relative;
}

.left_text > div > p > a {
    color: inherit;
    text-decoration: inherit;
}

.left_text > div >h3::first-letter {
    font-size: calc(01.3vw + 2rem);
}

.left_text > div > h3 {
    margin-left: -1rem;
    margin-bottom: -0.5em;
    position: relative;
}

@media screen and (max-width: 992px) {
    .containt {
        width: 100%;
    }
    .image_croissant {
        display: none;
    }

    .left_text > div > p {
        padding: 6% 4% 4% 4%;
        position: relative;
    }    

}