body {
    background-color: #176B79;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: "Helvetica Neue", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
}