body {
    background-color: #176B79;
    color: #01164D;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: justify;
    font-family: "Helvetica Neue", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
}


.line {
    background-color: #01164d;
}

h3, h4 {
    text-transform: uppercase;
}

h3 {
    letter-spacing: 0.3rem;
    word-spacing: 0.1rem;
    text-wrap: nowrap;
}

h4 {
    text-wrap: wrap;
    font-size: calc(1vw + 1rem);
}

p {
    color: #F5EEDC;
    font-size: calc(0.3vw + 0.8em);
    margin-bottom: 1.4rem;
    padding: 6% 0% 4% 4%;
}

.border_style {
    border-left: 2px solid #01164D;
    border-bottom: 2px solid #01164D;
}