.reservationPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.form_reservation {
    height: auto;
    padding: 5%;
    background-color: var(--filter-opacity);
    display: flex;
    flex-direction: column;
}

.form_content {
    display: flex;
    flex-wrap: wrap;
}

.form_element > {
    padding-top: 3%;
    margin: auto 0;
}

.form_element > label {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px 15px;
    position: relative;
}

textarea {
    min-height: 70px;
  /*  width: calc(100% + 30px);*/
}

input::placeholder, textarea::placeholder, option {
    font-size: 14px;
    color: var(--accent-color);
}

/* .form_element > label::before {
    border: var(--border-thin-style);
    bottom: 20px;
    content: "";
    left: -10px;
    position: absolute;
    right: 25px;
    top: 0px;
    z-index: -1;
}
*/ 

.form_right > .form_element > label::before {
    right: -10px;
}

.form_element > label > input, 
.form_element > label > textarea, 
.form_element > label > select {
    margin: 0;
    height: 40px;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    filter: opacity(0.5);
    border: none;
    border-radius: 2px;
}

.form_left, .form_right {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.form_right {
    margin-left: 20px;
}

.submit_btn {
    flex: 50%;
    flex-basis: 100%;
    margin-left: 20px;
}

.submit_btn > button {
    position: relative;
}

.reservationPage > .footer_container {
    position: relative;
    width: calc(100% + 30vw);
}

@media screen and (max-width: 992px) {
    .reservationPage > h3 {
        align-items: center;
    }

    .form_content {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .form_left, .form_right {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .form_left, .form_right {
        width: 100%;
    }
    .form_reservation {
        align-items: center;
    }
}
