{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
     {% if app.user %}
    <h1>Modifier l'évènement</h1>
    
    <a class="btn btn-outline-secondary" href="{{ path('app_evening_index') }}">retour</a>
    {{ include('evening/_form.html.twig', {'button_label': 'Modifier'}) }}
     {% endif %}

    {% if not app.user is defined %}
    <h3>Merci de bien vouloir vous connecter</h3>
    {% endif %}

{% endblock %}
