{% extends 'base.html.twig' %}

{% block title %}Edit Evening{% endblock %}

{% block body %}
    <h1>Edit Evening</h1>

    {{ include('evening/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evening_index') }}">back to list</a>

    {{ include('evening/_delete_form.html.twig') }}
{% endblock %}
