{% extends 'base.html.twig' %}

{% block title %}New Evening{% endblock %}

{% block body %}
     {% if app.user %}
        <h1>Créer un nouvel évènement</h1>
        <a href="{{ path('app_home') }}" class="btn btn-outline-secondary my-4">Retour</a>
        {{ include('evening/_form.html.twig') }}
     {% endif %}

    {% if not app.user is defined %}
    <h3>Merci de bien vouloir vous connecter</h3>
    {% endif %}

{% endblock %}
