{% extends 'base.html.twig' %}

{% block title %}New Evening{% endblock %}

{% block body %}
    <h1>Create new Evening</h1>

    {{ include('evening/_form.html.twig') }}

    <a href="{{ path('app_evening_index') }}">back to list</a>
{% endblock %}
