.header {
    position: relative;
    width: 70vw;
}

h1 {
    color: #01164D;
    font-size: 5.7vw;
    font-weight: bold;
    padding-top: 5vh;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}

.subtitles {
    max-width: 60vw;
    margin-left: 10vw;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.subtitle_header {
    color: #176B79;
    font-size: calc(5vw + 0.8em);
    margin: -20px 0 -20px 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #01164D;
    text-overflow: ellipsis;
}

.subtitles:nth-of-type(1){
    padding-top: 1.2em;
}

.subtitle_header:nth-child(n+2) {
    margin-left: 40px;
}

.subtitle_header:nth-child(n+3) {
    margin-left: 80px;
}

.subtitle_header:nth-child(n+4) {
    margin-left: 120px;
}

.subtitle_header:nth-child(n+5) {
    margin-left: 160px;
}

.line_header {
    height: 2px;
    width: 31.5vw;
    margin-top: 10%;
    margin-left: 18.5vw;
}

.image_header {
    filter: opacity(.68) drop-shadow(0 0 0 rgb(0, 10, 55, 0.7));
    opacity: 0.6;
    height: 40vw;
    width: auto;
    position: absolute;
}
